body{
      overflow-x: hidden;
}
.slider{
      position: relative;
      margin: 0 auto;
      width: 100%;

}
.slide-content{
      position: absolute;
      top: 5%;
      /* left: 10%; */
      width: 100%;
}
.test-top{
      position: absolute;
      left: 25%;
}
.slide-content .para{
      width: 60%;
      font-weight: 700;
      position: absolute;
      left: 30%;
      margin-top: 150px;
      font-size: .8rem;
}
.image-slide img{
      margin-left: 10px;
}

.image-slide {
      position: absolute;
      background-color: rgba(0,0,0,.8);
      width: 100%;
      bottom: 30px;
      padding: 20px 0px 5px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

}
.slider1{
      width: 100%;
      /* display: flex; */
      overflow: hidden;
}
.slider1{
      width: 100%;
}
 .head{
      font-size: 8rem;
      color: rgb(121, 118, 118);
}
.slider .box{
      margin-top: 90px;
      font-weight: 600;
}
.history{
      color: rgb(47, 70, 121);
      line-height: 10px;
}
.cart-slide{
      background-color: rgba(250, 250, 250, 0.773);
      padding: 20px 30px;
      /* width: 300px; */
      position: absolute;
      top: 30%;
      left: 20%;
}
.corousel-slide{
      overflow: hidden;
      width: 100%;
      display: flex;
      /* display: flex; */
}

.indicators{
      /* background-color: aqua; */
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0 ,.8);
      /* z-index: 3; */
      overflow: hidden;
      /* margin-top: 50px; */
      position: absolute;
      bottom: 0px;

}
.indicators .indicator{
      width: 7px;
      height: 7px;
      background-color: rgba(204, 200, 200, 0.4);
      border-radius: 50%;
      margin: 5px;
}
.indicators .indicator.active{
      background-color: white;
}
.team{
      /* padding: 60px; */
      position: relative;
      width: 100%;
      /* margin: 40px; */
      height: 150px;
      padding: 10px 0px;

}
.team .test-top{
      position: absolute;
      left: 20%;
      bottom: 40px;
      /* top: 20px; */
      /* width: 80%; */
      top: 1%;
      

}
.test-top .box{
      margin-top: 80px;

}
.test-top .para{
      width: 60%;
      margin-top: 70px;
      margin-left: 20px;
      font-size: .8rem;
      font-weight: 500;
}


/* slider */
.slider-container {
      position: relative;
      width: 100%;
      margin: 0 auto;
      /* margin-top: 70px; */

    }
    
    .image-container {
      overflow: hidden;
    }
    
    .slider-image {
      width: 100%;
      height: 700px;
    }
    
    .prev-button,
    .next-button {
      position: absolute;
      /* top: -1px; */
      transform: translateY(-2%);
      padding: 0px 20px;
      /* background-color: #333; */
      color: white;
      border: none;
      cursor: pointer;
      z-index: 1;
      text-align: center;
      height: 40px;
      width: 150px;
      border: none;
      background: none;
      font-weight: 500;
      
    }
    
    
    .prev-button {
      left: 21%;
    }
    
    .next-button {
      left: 35%;
    }
    .button .prev-button{
      background-color: whitesmoke;
      color: rgba(26, 57, 167, 0.955);
      border-bottom: 2px solid rgba(26, 57, 167, 0.955);

    }
    .slider-container .button{
      background-color: rgba(26, 57, 167, 0.955);
      width: 100%;
      height: 40px;
      /* position: absolute; */
      text-align: center;
      display: flex;
      /* justify-content: space-around; */
      /* padding: 30px; */
      
    }
    /*end  */
    .bottom{
      position: absolute;
      bottom: 2px;
      background-color: rgba(15, 29, 80, 0.9);
      width: 100%;
      /* opacity: 2; */
      color: white;
      /* filter: blur(1px); */
      filter: opacity(60%);
    }
    .bottom .content h4{
      line-height: 12px;
      font-size: 1.2rem;
    }
    .bottom .copy{
      font-size: .8rem;
      font-weight: 600;
    }
    .cart .left{
      margin-top: 10px;
    }
    .left .paras p{
      line-height: 2px;
      margin-top: 10px;
      font-size: .8rem;
      font-weight: 500;
    }
    .left p{
      font-size: .8rem;
      font-weight: 500;

    }
    .left span{
      margin-left: 20px;
      font-size: .8rem;
      font-weight: 500;

    }

@media screen and (max-width: 992px){
      .slider .slider1{
            height: 600px;
      }
      .slide-content .para{
            width: 70%;
            position: absolute;
      left: 10%;
      margin-top: 100px;
      font-size: .7rem;
      }
      .test-top{
            position: absolute;
            left: 10%;
      }
      .slide-content{
            position: absolute;
            top: 10%;
            left: 10%;
      }
      .slider .head{
            font-size: 6rem;
            color: rgb(97, 95, 95);
      }
      .slider .box{
            margin-top: 60px;
      }
      .slide-image{
            width:150px;
      }
      .prev-button {
            left: 11%;
      width: 150px;
      font-size: 1rem;
      padding: 0px 10px;


          }
          
          .next-button {
            left: 30%;
            margin-left: 20px;
      width: 150px;
            font-size: 1rem;
            padding: 0px 10px;
          }
          .slider-image {
            height: 600px;
          }
          
}
@media screen and (max-width: 768px){
      .slide-image{
            width:120px;
            height: 70px;
      }
      .slider .slider1{
            height: 500px;
      }
      .slide-content .para{
            width: 80%;
            font-size: .7rem;
      }
      .team .test-top{
            position: absolute;
            left: 30px;
            bottom: 40px;
            /* top: 20px; */
            /* width: 80%; */
            top: 1%;
            
      }  
      .test-top .para{
            width: 90%;
            margin-top: 40px;
            margin-left: 20px;
      }
      .slider-image {
            height: 500px;
          }
          .slider .box{
            margin-top: 55px;
            font-weight: 600;
      }
}
@media screen and (max-width: 600px){
      .slide-content .para{
            width: 80%;
            font-size: .7rem;
      }
      .slide-content{
            position: absolute;
            top: 10%;
            left: 0px;
            padding: 0px;
      }
      .prev-button {
            left: 5%;
          }
          
          .next-button {
            left: 25%;
            margin-left: 20px;
          }
}
@media screen and (max-width: 550px){
      .slide-image{
            width:100px;
            height: 70px;
      }
      .slider .slider1{
            height: 400px;
      }
      .slide-content .para{
            font-size: .6rem;
      }
       .head{
            font-size: 6rem;
            color: rgb(97, 95, 95);
      }
      .test-top .box{
            margin-top: 50px;
      
      }
      .slider-image {
            height: 400px;
          }
          .prev-button {
            left: 2%;
            font-size: .9rem;
          }
          
          .next-button {
            left: 25%;
            margin-left: 20px;
            font-size: .9rem;
          }
          .bottom .content h4{
            line-height: 12px;
            font-size: 1rem;
          }
          .bottom .copy{
            font-size: .6rem;
            font-weight: 600;
          }
          .left .paras p{
            line-height: 2px;
            margin-top: 10px;
            font-size: .6rem;
          }
          .left p{
            font-size: .6rem;
      
          }
          .left span{
            margin-left: 20px;
            font-size: .6rem;
          }
}
@media screen and (max-width: 450px){
      .head{
            font-size: 5rem;
            color: rgb(97, 95, 95);
      }
      .test-top .box{
            margin-top: 40px;
      
      }
      .test-top .para{
            width: 90%;
            margin-top: 20px;
            margin-left: 20px;
            font-size: .6rem;
      }
      .slide-image{
            width:80px;
            height: 60px;
      }
      .bottom .content h4{
            line-height: 12px;
            font-size: .9rem;
          }
          .bottom .copy{
            font-size: .5rem;
            font-weight: 600;
          }
          .cart-slide{
            background-color: rgba(250, 250, 250, 0.773);
            padding: 20px 30px;
            /* width: 300px; */
            position: absolute;
            top: 20%;
            left: 10%;
      }
      .cart-slide p{
            font-size: .7rem;
      }
      .prev-button {
            left: 0;
            font-size: .9rem;
          }
          
          .next-button {
            left: 25%;
            margin-left: 20px;
            font-size: .9rem;
          }
          .slider .box{
            margin-top: 55px;
            font-weight: 600;
      }
      .team .test-top{
            position: absolute;
            left: 5%;
            bottom: 10px;
            /* top: 20px; */
            /* width: 80%; */
            top: 1%;
            
      }
      .team{
            /* padding: 60px; */
            position: relative;
            width: 100%;
            /* margin: 40px; */
            height: 100px;
            padding: 10px 0px;
      
      }
      .left .paras p{
            line-height: 2px;
            margin-top: 10px;
            font-size: .6rem;
          }
          .left p{
            font-size: .6rem;
      
          }
          .left span{
            margin-left: 20px;
            font-size: .6rem;
          }
      
}
@media screen and (max-width: 400px){
      .slide-image{
            width:70px;
            height: 60px;
      }
      .slide-content .para{
            font-size: .5rem;
      }
      .slider-image {
            height: 350px;
          }
          .slider .slider1{
            height: 350px;
      }
      .prev-button {
            left: 0;
            font-size: .7rem;
            padding: 0px 10px;
            width: 95px;

          }
          
          .next-button {
            left: 25%;
            margin-left: 20px;
            font-size: .7rem;
            padding: 0px 10px;
            width: 95px;

          }
          .bottom .copy{
            font-size: .4rem;
            font-weight: 600;
          }
          .bottom .content h4{
            line-height: 10px;
            font-size: .9rem;
          }
          .team{
            /* padding: 60px; */
            position: relative;
            width: 100%;
            /* margin: 40px; */
            height: 120px;
            padding: 10px 0px;
      
      }
}
@media screen and (max-width: 350px){
      .team{
            /* padding: 60px; */
            position: relative;
            width: 100%;
            /* margin: 40px; */
            height: 140px;
            padding: 10px 0px;
      
      }

}